

<h1><%= @place["name"] %></h1>
<body>
<h3>Posts</h3>
    <% for post in @posts %>
      <p><h4><%= post["title"]%></h4></p>
      <p><small><%= post["posted_on"]%></small></p>
      <ul><li><%= post["description"]%></li></ul>
    <% end %>

	<p>
	  
	</p>
</body>

<p><button><a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a></button></p>

<p><%= button_to "Delete this place", @post, :method => "delete" %></p>

<p><a href="/places">Back to All Places </a></p>



