
<!-- Create view for each individual place-->
<h1><%= @place["name"] %></h1>
<body>
<!-- On each individual place page, pull the name of the place, as well as the list of posts for each place-->

<h3>Posts</h3>
    <% for post in @posts %>
      <p><h4><u><%= post["title"]%></h4></u></p>
      <p><small><%= post["posted_on"]%></small></p>
      <ul><li><%= post["description"]%></li></ul>
    <% end %>

	<p>
	  
	</p>
</body>

<!-- Add link to create a new post for this specific place -->

<p><a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a></p>


<!-- Link to return to places landing with list of all places -->
<p><a href="/places">Back to All Places </a></p>



